<form class='form --simpleOrder js-modal-form'>
  <div class='table --modalCart-grid'>
    <div class='tbody --tbody-grid'>

      <div class='row --card' data-card-id=''>
        <div class='row cardInfo-grid'>
          <div class='col --cardImg' data-title='img'><img
              src='{{mainImgLink}}'
              alt=''
            /></div>
          <div class='col --cardInfo' data-title='info'>
            <span class='col-title' data-title='sku'>Артикул:</span>
            <span class='col-text'>art{{articul}}</span>
            <span class='col-title'>Автор:</span>
            <span class='col-text' data-title='autorId'>{{postAutorId}}</span>
            <span class='col-title'>Назва:</span>
            <span class='col-text' data-title='name'>{{postName}}</span>
          </div>
          <div class='col --cardTotal' data-title='total'>
            <span class='col-title'>Ціна:</span>
            <span class='col-text'>{{price}}</span>
            <span class='col-title'>Знижка:</span>
            <span class='col-text'>0</span>
            <span class='col-title'>Сума:</span>
            <span class='col-text'>{{price}}</span>
          </div>
        </div>
        <div class='row-grid titles'>
          <span class='col'>Атрибут 1:</span>
          <span class='col'>Атрибут 2:</span>
          <span class='col'>Кількість:</span>
          <span class='col'>Ціна:</span>
        </div>
        <div class='row card-items'>
          <div class='row card-item'>
            <span class='row item-top'>
              <span>Елемент № 1,</span>
              <span class='element-sku'>art{{articul}},</span>
              <span class='element-name'>"{{postName}}"</span>
            </span>
            <div class='row-grid item-info'>

              <div class='col' data-title='atribute-1'>
                <input class='input --selectAtribute' type='select' value='XL' />
              </div>

              <div class='col' data-title='atribute-2'>
                <input
                  class='input --selectAtribute'
                  type='select'
                  value='Зелений'
                />
              </div>

              <div class='col --setQuantity' data-title='quantity'>
                <button
                  class='button --btnTableMinus'
                  type='button'
                >-</button>
                <input
                  class='input --inputQuantity'
                  type='text'
                  name='quantity'
                  value=0
                />
                <button
                  class='button --btnTablePlus'
                  type='button'
                >+</button>
              </div>

              <div class='col' data-title='price'>
                <span class='col-text'>{{price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='--formDecision'>
    <button
      class='button --makeOrder'
      type='submit'
      data-action='createOrder'
    >Оформити замовлення
    </button>
    <button
      class='button --killOrder'
      type='reset'
      data-action='killOrder'
    >Відмінити
    </button>
  </div>
</form>