<form class='form --simpleOrder js-modal-form'>
<div class='cart items-list'>
    <div class='cart item'>
      <div class='cart item__left-side'>
        <div class='side-img' data-title='img'><img
            src='{{mainImgLink}}'
            alt='{{articul}}'
          /></div>
        <div class='side-info__top'>

          <span class='row title'>Art:</span>
          <span class='row text'>{{articul}}</span>

          <span class='row title'>Назва:</span>
          <span class='row text'>"{{postName}}"</span>

          <span class='row title'>Тип:</span>
          <span class='row text'>{{postType}}</span>

          <span class='row title'>Autor:</span>
          <span class='row text'>{{postAutorId}}</span>

          {{!-- <span class='row title'>:</span>
          <span class='row text'></span> --}}

        </div>
        <div class='side-info__bottom'>

          <span class='row title'>Ціна:</span>
          <span class='row text'>{{price}}</span>

          <span class='row title'>Рівень кешбеку:</span>
          <span class='row text'>{{cashbackLvl}}</span>

          <span class='row title'>Знижка:</span>
          <span class='row text'>---</span>

          <span class='row title'>Сума:</span>
          <span class='row text'>{{price}}</span>

        </div>
      </div>

      <div class='cart item__right-side'>

        <div class='item-component' data-comp-id='{{postId}}'>
          <div class='item-component_top'>
            <span class='row title'>Артикул:</span>
            <span class='row text'>{{articul}}</span>
            <span class='row title'>Назва:</span>
            <span class='row text'>{{postName}}</span>
          </div>
          <div class='item-component_bottom'>

            <span class='row title'>{{mainAtribute_1.atributeName}}:</span>
            <div class='row text' data-title='atribute-1'>
              <input class='input --selectAtribute' type='text' value='' />
            </div>

            <span class='row title'>{{mainAtribute_2.atributeName}}:</span>
            <div class='row text' data-title='atribute-2'>
              <input
                class='input --selectAtribute'
                type='text'
                value='{{mainAtribute_1.atributeValue}}'
              />
            </div>

            <span class='row title'>Склад:</span>
            <span class='row text' data-title='stock'>{{stock}}</span>

            <span class='row title'>Кількість:</span>
            <div class='row text --setQuantity' data-title='quantity'>
              <button class='button --btnSetQtity' type='button' data-action="minus">-</button>
              <input
                class='input --inputQuantity'
                type='text'
                name='quantity'
                value='0'
              />
              <button class='button --btnSetQtity' type='button' data-action="plus">+</button>
            </div>

            <span class='row title'>Ціна:</span>
            <span class='row text' data-title='price'>{{price}}</span>

            <span class='row title'>Сума:</span>
            <span class='row text' data-title='price'>{{price}}</span>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class='--formDecision'>
    <button
      class='button --makeOrder'
      type='submit'
      data-action='createOrder'
      data-card-id="{{postId}}"
    >Оформити замовлення
    </button>
    <button
      class='button --killOrder'
      type='reset'
      data-action='killOrder'
    >Відмінити
    </button>
  </div>
</form>